<!DOCTYPE html>
	<html ng-app = "calculatorApp">
	<head>
		<meta charset = "UTF-8">
		<title>
			Angular JS and Node JS
		</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	</head>

	<body ng-controller = "calculatorController">
		<div class="text-center">
			<h1> ARITHMETIC CALCULATOR </h1>
			  	<p><input type="number" ng-model="a"></p>
			    <p><input type="number" ng-model="b"></p>
			    <p><select ng-model="operator">
				    <option>+</option>
			        <option>*</option>
			        <option>-</option>
			        <option>/</option>
				</select></p>

			 	<p>{{ result() }}</p>
		</div>

		<script type="text/javascript">
			angular.module('calculatorApp', [])
		    .controller('calculatorController', function($scope) {
	        $scope.result = function() {
            if ($scope.operator == '+') {
                return "Your result is " + ($scope.a + $scope.b);
            }
            if ($scope.operator == '-') {
                return "Your result is " + ($scope.a - $scope.b);
            }
            if ($scope.operator == '*') {
                return "Your result is " + ($scope.a * $scope.b);
            }
            if ($scope.operator == '/') {
                return "Your result is " + ($scope.a / $scope.b);
	    }
        };
    });
</script>


	</body>
	</html>
